name: "Next feature version"

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'  # Run every Sunday at midnight UTC

jobs:
  test:
    name: Test
    uses: ./.github/workflows/tests.yml
    with:
      image: ${{ fromJSON(vars.KURRENTDB_DOCKER_IMAGES).ci.fullname }}
    secrets: inherit